<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find fa_turtlebot)/config/fa_turtlebot.yaml" />
    <!-- Launch the training system -->
    <arg name="save_directory" default="/home/ericlab/reinfoce_learn_pth/save_half_prezen"/>
    <arg name="load_model_pth_path" default=""/>
    <arg name="max_episode" default="30"/>
    <arg name="max_step" default="500"/>
    <arg name="batch_size" default="64"/>
    
    
    
    <param name="save_directory" value="/home/ericlab/reinfoce_learn_pth/save_1/"/>
    <node pkg="fa_turtlebot" name="turtlebot2_maze" type="start_training.py" output="screen">
        <param name="save_directory" value="$(arg save_directory)"/>
        <param name="load_model_pth_path" value="$(arg load_model_pth_path)"/>
        <param name="max_episode" value="$(arg max_episode)"/>
        <param name="max_step" value="$(arg max_step)"/>
        <param name="batch_size" value="$(arg batch_size)"/>
    </node>
</launch>
